<% include partials/header %>


<div class="container" id="main">
    <header class="container">
        <h1>GoFreelance</h1>
        <p>Your best website</p>
    </header>


    <button class="btn" onclick="window.location.href='/offers'"><strong>Browse offers</strong></button>
    <button class="btn" ><strong>Create offer</strong></button>    
</div>


<% include partials/footer %>