<% include partials/header %>

<header class="container">
    <h1>GoFreelance</h1>
    <p>Your best website</p>
</header>

<div class="container">
    <button class="btn btn-lg btn-primary" onclick="window.location.href='/offers'">Browse offers</button>
    <button class="btn btn-lg btn-success" >Create offer</button>    
</div>


<% include partials/footer %>