<% include partials/header %>


<div class="container main landing">
    <header class="container">
        <h1>GoFreelance</h1>
        <p>Your best website</p>
    </header>


    <button class="btn btn-main" onclick="window.location.href='/offers'"><strong>Browse offers</strong></button>
    <button class="btn btn-main" onclick="window.location.href='/offers/new'"><strong>Create offer</strong></button>    
</div>


<% include partials/footer %>