<% include partials/header %>


<div class="container main">
    
    <form action="/login" method="POST">
    <h1> Login !</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="btn">Submit</button>
    </form>
</div>


<% include partials/footer %>