<% include partials/header %>


<div class="container main">
    <h1> REGISTER !</h1>
    
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="btn">Submit</button>
    </form>
</div>


<% include partials/footer %>