<% include ../partials/header %>


<div class="container main">
    <h1 class="title">Create new offer</h1>
    
    <form action="/offers" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <textarea type="text" name="descr" placeholder="Descritpion" required></textarea>
        <input type="number" min="0.00" name="price" placeholder="Price in PLN" required>
        <button >Submit</button>
    </form>
</div>


<% include ../partials/footer %>