/*Need to split files*/

/*Main page*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

a {
    color: black;
}

a:hover, a:focus{
    color: black;
    text-decoration: none;
}

.container header {
    background-color: #962d9b;
    color: #fef4ff;
    width: 100%;
}

.footer {
    position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    padding: 1rem;
    width: 100%;
    margin: 0;
    background-color: #e8e8e8;
    height: 50px;
}

.btn-main{
    width: 20%;
    margin-top: 100px;
    margin-left: 20%;
    color: white;
    background-color: #962d9b;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #6f2172;
    color: white !important;
}

button:focus {
    outline: 0 !important;
    color: white !important;
    box-shadow: inset 0px 0px 105px -2px rgba(242,242,242,0.48);
}

@media (max-width: 767px) { 
    btn-main {
            display: block !important;
            width: 70%;
            height: 100px;
            font-size: 5rem;
            color: black;
            
    }
}

nav {
    position: fixed;
    color: #962d9b;
}

.searchbar:focus {
      border: 1px solid #6f2172;
      outline: none;
}
.landing {
    
    padding-bottom: 100px;
}

.main {
    border-radius: 5px;
    background-color: white;
    box-shadow: 7px 4px 30px -15px rgba(74,44,74,1);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

/* Offers page */



.postfield {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.post {
    background: pink;
    line-height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid #f2f2f2;
    background-color: #feeaff;
    cursor: pointer;
}

.post:nth-child(2n) {
    background-color: #fef4ff;
}

.post:hover {
    background-color: #f3def4;
}

#title {
    display: inline;
    margin-left: 25px;
}

#price {
    float: right;
    margin-right: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

#descr {
    line-height: 150%;
    margin: 5px 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#author {
    width: 100%;
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
    
}

.pagination {
    float: right;
    margin: 5px 0;
    background-color: #962d9b;
}

.pagination li a{
    color: #962d9b;
}

.pagination>.active>a {
    background-color: #962d9b;
    border: 1px solid #802896;
}

.pagination>.active>a:hover {
    background-color: #802896;
    border: 1px solid #802896;
}

.pagination>.active>a:focus {
    background-color: #802896;
    border: 1px solid #802896;
}
/* show page */


.title {
    background-color: lightgray;
    padding-left: 25px;
}

.title h1 {
    display: inline;
}

.empl {
    display: inline;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.descr {
    margin: 10px 50px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

textarea {
    height: 10rem;
    width: 100%
}

.context {
    
    display: inline;
}

.budget {
    font-size: 30px;
    float: right;
}

form {
    padding-top: 10px;
    padding-bottom: 40px;
    width: 70%;
    margin-left: 15%
}

.av-placeholder {
    float: left;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    margin-right: 20px;
}

.off-price {
    display: inline;
    float: right;
}

#price-form {
    width: 10%;
    float: right;
}

.submit {
    display: inline;
    float: right;
}

.comments {
    list-style: none;
    
    width: 100%;
    padding: 0;
}

.comment {
    background-color: lightgray;
    width: 100%;
    
    margin-bottom: 10px;
}

.author {
    padding-left: 10px;
}


#date {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}
